/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
  --fundo-principal: #f5f5f5;
  --texto: #333333;
  --texto-inverso: #ffffff;
  --destaque: #007BFF;
  --destaque-inverso: #ffffff;
  --fundo-card: #ffffff;
}

body {
  background-color: var(--fundo-principal);
  color: var(--texto);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}